<div id="colorlib-page">
	<div id="colorlib-main">
			<section class="ftco-section ftco-no-pt ftco-no-pb">
	    	<div class="container" style="margin-left:10rem;">
	    		<div class="row">
	    			<div class="col-lg-10 px-md-5 py-2">
	    				<div class="row pt-md-4">
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/eren.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Eren Berk</h3>
									<p>
										Merhabalar, ben Eren derginin tarih coğrafya sevdalı yazarı. Genel yazı hedefim daha çok insanın görmesi gerektiğini düşündüğüm gölgelere ışık tutmak. Umuyorum ki sizlere etkileyici, duymadığınız bilgiler verebilirim.
										Araştırmacı, meraklı ve titiz
									</p>
								</div>
							</div>
							<br />
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/dila-2.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Dila</h3>
									<p>
										Merhaba, ben Dila, derginin başından beri baş editör olarak görev alıyorum. Sayfanın bir köşesinde "d." sembolü varsa o sayfayı beğenmenizi umarak ben tasarlamışımdır. Umarım "Mozaik"i beğenmeye ve okumaya devam edersiniz. Sevgiler... Kitaplar müzik tasarım
									</p>
								</div>
							</div>
							<br />
		            <div class="about-author d-flex p-4 bg-light">
		              <div class="bio mr-5">
		                <img src="~/images/melahat.jpeg" alt="Image placeholder" class="img-fluid mb-4">
		              </div>
		              <div class="desc">
		                <h3>Melahat</h3>
						<p>Merhaba ben Melahat. Edebiyattan sinemaya müzikten dilbilime ilgilendiğim birçok konuda yazılar
							yazıyorum ve işin organizasyon kısmında görev alıyorum. Hem perde arkasında hem sahne önünde
							yer aldığım bu süreçte temel amacım kendi öğrenmekten zevk aldığım konular hakkında başkalarını
										bilgi sahibi yaparken aynı zamanda keyifli bir okuma sunmak. üretken istikrarlı araştırmacı
									</p>
		              </div>
		            </div>
					<br />
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/ilyas.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>İlyas Arda</h3>
									<p>
										Merhaba ben İlyas Arda. Mozaik dergisinin başından beri yazar olarak görev alıyorum. Yazılarımın temel amacı yaşamın ortak köklerine ışık tutarak hayata olan farkındalığımızı arttırmak.
										Yazmanın çekiciliğine kapıldım.
									</p>
								</div>
							</div>
							<br />
							
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/mert.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Mert</h3>
									<p>
										Ben Mert,  sinema köşesinin yazarıyım. Bir şeyler izler, okur,  kendi çapımda çizgi roman senaryoları yazar ve çizerim.  Dergide ise senaryo yazarlığı ve sinema unsurlarını sevdiğim filmler üzerinden klavyemin döndüğü kadarıyla anlatmaya çalışıyorum.
										Meraklı, okuyucu ve kurgucu
									</p>
								</div>
							</div>
							<br />
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/bengisu.png" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Bengisu Berra</h3>
									<p>
										Ben Bengisu Berra, Yunan mitolojisinin tozlu sayfalarında sizi eğlenceli bir yolculuğa davet eden yazar.Aynı zamanda şiir yazıp insanlara kendi düşüncelerimi sanatsal bir yolla aktarmayı da seviyorum.
										Eğlenceli, meraklı,duygusal ve esprili
									</p>
								</div>
							</div>
							<br />
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/yaren.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Yaren</h3>
									<p>
										Selamlar, ismim Yaren. İlk sayıdan beri yazıların sayfalara dökülmesini sağlayan tasarım ekibinde görevliyim. Sayfa dizaynını oluştururken kendi estetik algımın sınırlarını zorlayarak ,kimi zaman saatler süren uğraşlarla, sizlerin gözüne hitap eden ürünler ortaya çıkarmaktan büyük keyif alıyorum.
										Estetik, çılgın, hırslı.
									</p>
								</div>
							</div>
							<br />
							<div class="about-author d-flex p-4 bg-light">
								<div class="bio mr-5">
									<img src="~/images/ceren.jpeg" alt="Image placeholder" class="img-fluid mb-4">
								</div>
								<div class="desc">
									<h3>Ceren</h3>
									<p>
										Selam, ben ceren. dergide gördüğünüz şiirlerden bazıları da bana ait.
										duyguların kelimelere dönüşmesi olayını seviyorum. ne sizi ne de kendimi bir beklentiye sokmadan, içimden gelen cümleleri sunmayı da.
										keyifli okumalar :) Dramatik, kitapsever, özgür ruhlu.
									</p>
								</div>
							</div>
		           </div>
	          </div>
	    		</div>
	    	</div>
	    </section>
		</div>
</div>