<div id="colorlib-page">
	<div id="colorlib-main">
		<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
			<div class="container-fluid px-0">
				<div class="row d-flex">
					<div class="col-md-6 d-flex">
						<div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url(/images/svglogo.svg);">
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-center">
						<div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
							<h2 class="mb-4"> <span>Hakkımızda</span></h2>
							<p>
								Mozaik Dergisi 2021 yılının Nisan ayında Erbakır Fen Lisesi öğrencileri tarafınca kurulmuş bilim, tarih, güncel olaylar ve daha birçok alanda yazılar içeren bir e-dergidir. 20 Mayıs'ta ilk sayısının yayımlanmasının ardından 2 ayda bir düzenli olarak yayımlanmaktadır.

								Mozaik Dergisinin hedefi herhangi bir konuda yazmak isteyen öğrencilere olanak sağlamak ve bu konuda yazar adaylarına fikir, tasarım, editörlük vb. noktalarda destek olmaktır. İnsanları yazmaya teşvik edip yazarların kişisel gelişimine en ileri düzeyde katkıda bulununmaktır.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>

</div>
